<?xml version='1.0' encoding='utf-8'?>
<widget id="com.citronium.samples.hellolineapro" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LineaProDemo</name>
    <description>
      oneresource AG LineaPro Demo
    </description>
    <author email="Sandro.scalco@oneresource.com" href="http://oneresource.com">
        Sandro Scalco
    </author>
    <content src="index.html" />
    <gap:plugin name="com.lineapro-plugin.rachel" source="pgb" version="0.1" />
	  <gap:plugin name="org.apache.cordova.inappbrowser" source="pgb" version="0.5.2" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="com.datecs.linea.pro.msr" />
    <allow-intent href="com.datecs.iserial.communication" />
    <allow-intent href="com.datecs.pinpad" />
    <allow-intent href="com.datecs.linea.pro.bar" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-intent href="com.datecs.linea.pro.msr" />
        <allow-intent href="com.datecs.iserial.communication" />
        <allow-intent href="com.datecs.pinpad" />
        <allow-intent href="com.datecs.linea.pro.bar" />
    </platform>
</widget>
